ajax==3.0.0
alembic==0.9.6
aniso8601==1.3.0
arrow==0.10.0
BitBucket==0.4a0
blinker==1.4
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
decorator==4.1.2
django-appconf==1.0.2
enum-compat==0.0.2
eventlet==0.20.1
Flask==0.12
Flask-DebugToolbar==0.10.1
Flask-Migrate==2.1.1
Flask-RESTful==0.3.6
Flask-Script==2.0.6
Flask-SocketIO==2.9.2
Flask-SQLAlchemy==2.3.1
gevent==1.2.1
gevent-websocket==0.9.5
greenlet==0.4.12
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.5
Lector==0.0.3
Mako==1.0.7
MarkupSafe==0.23
moves==0.1
nokia==0.4.0
numpy==1.13.1
oauthlib==2.0.4
pandas==0.20.3
psycopg2==2.7.3.1
pyperclip==1.5.27
python-dateutil==2.6.1
python-dotenv==0.7.1
python-editor==1.0.3
python-engineio==1.7.0
python-socketio==1.8.0
pytodoist==2.1.0
pytz==2017.2
rauth==0.7.3
requests==2.18.4
requests-oauth==0.4.1
requests-oauthlib==0.8.0
six==1.10.0
spotipy==2.4.4
SQLAlchemy==1.1.14
urllib3==1.22
Werkzeug==0.11.15
xmltodict==0.11.0
