.canvasjs-chart-credit {
       display: none;
   }

.quote {
    text-align: center;
    padding: 20px;
}

.data_table {
  text-align: center;
  margin: auto;
}

#loading {
  margin:auto;
  text-align: center;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "arial", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

canvas {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

hr {
  border-top: 1px solid #727273;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.align-center {
  text-align: center;
}

#steps_doughnut, #pomodoro_doughnut, #unproductivity_doughnut {
  height: 280px;
  margin-top: 1rem;
  width: 100%;
}

#cal-heatmap {
  width:50%;
  margin: 0 auto;
}

.container {
  margin-bottom: 4%;
}


.card-header {
  background-color: #37474F;
  border-radius: 0 !important;
  color:	white;
  margin-bottom: 0;
  padding:	1rem;
}

.card-block {
  border: 1px solid #cccccc;
  height: 500px;
}

.shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.2);
}
