.canvasjs-chart-credit {
       display: none;
   }

.quote, .list {
    text-align: center;
    padding: 20px;
}

.data_table {
  text-align: center;
  margin: auto;
}

#quote_author {
  color: black;
}

#loading {
  margin:auto;
  text-align: center;
}

div, h6 {
  visibility: hidden;
}

strong {
  color: black;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "arial", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

canvas {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

hr {
  border-top: 1px solid #727273;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.align-center {
  text-align: center;
}

#steps_doughnut, #pomodoro_doughnut, #unproductivity_doughnut {
  height: 280px;
  margin-top: 1rem;
  width: 100%;
}

#cal-heatmap {
  width:50%;
  margin: 0 auto;
}

.container {
  margin-bottom: 4%;
}


.card-header {
  background-color: #37474F;
  border-radius: 0 !important;
  margin-bottom: 0;
  padding:	1rem;
}

.card-block {
  border: 1px solid #cccccc;
  height: 500px;
}

.shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
              0 1px 18px 0 rgba(0, 0, 0, 0.12),
              0 3px 5px -1px rgba(0, 0, 0, 0.2);
}

#moves_places {
  color:black;
}



#loading,
#loading:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
#loading {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
