<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">


  <title>Personal Dashboard</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="static/js/canvasjs/assets/bootstrap/bootstrap4-alpha3.min.css">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
  <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='css/styles.css')}}">
  <script src="{{ url_for('static', filename='js/scripts.js')}}"> </script>
  <link rel="shortcut icon" href="static/favicon.ico" type="gear">
  <script src="static/js/canvasjs/assets/jquery/jquery-3.1.0.min.js"></script>
  <script src="static/js/canvasjs/assets/tether/tether.min.js"></script>
  <script type="text/javascript" src="static/js/canvasjs/canvasjs.min.js"></script>
    <script src="static/js/canvasjs/assets/jquery.scrollspeed/jquery.scrollspeed.min.js"></script>
  <script src="static/js/canvasjs/assets/jquery.inview/jquery.inview.min.js"></script>

  <!-- Cal Heat map-->
  <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/cal-heatmap/3.3.10/cal-heatmap.css" />
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
  <div class="quote">
    <i id="quote_content"></i><br> <strong id="quote_author"></strong>
  </div>
    <!-- <span style="position: absolute;padding-left: 40%;">
      <canvas id="unproductivity_doughnut" width="100%" height="100%" float:right></canvas>
      <p>Daily Unproductivity</p>
    </span>
    <span>
      <canvas id="steps_doughnut" width="100%" height="100%" float: left></canvas>
      <p>Daily Steps</p>
    </span>
  </span> -->
	<div class="container">
  <h3>Daily Goals</h3>

  <!--Daily doughnut charts -->

  <div class="row">
    <div class="col-md-4">
      <div class="inview" id="steps_doughnut"></div>
      <h3 class="align-center">Steps</h3>
    </div>

    <div class="col-md-4">
      <div class="inview" id="pomodoro_doughnut"></div>
      <h3 class="align-center">Focus Time</h3>
    </div>

    <div class="col-md-4">
      <div class="inview" id="unproductivity_doughnut"></div>
      <h3 class="align-center">Unproductivity</h3>
    </div>
  </div>
</div>
<div class="inview" id="cal-heatmap"></div>
<h6 style="text-align:center">Daily Goals Chain</h6>
<hr>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <canvas id="coding_time" width="800" height="450"></canvas>
      <h3 class="align-center">Coding Time</h3>
    </div>

    <!-- TODO fix the number of calls to the dark sky API before
    <p id="temp"></li>
    <p id="weather_hourly"></li>
    <p id="weather_today"></li> -->
<h1 id="loading"> Loading Data.... </h1>
<div id="coding">
</div>

<TABLE class="data_table" border="1">
<TR><TH>Daily Rescuetime<td><p>Productivity: <p id="rescue_time_daily_productivity"></p></p><p>Unproductivity: <p id="rescue_time_daily_unproductivity"></p> </p> <p>Top Three sources: <p id="rescue_time_daily_top_three"></p></p> </td>
<TR><TH>Weekly Rescuetime<td><p>Productivity: <p id="rescue_time_past_seven_productivity"></p></p><p>Unproductivity: <p id="rescue_time_past_seven_unproductivity"></p> </p> <p>Top Five sources: <p id="rescue_time_past_seven_top_five"></p></p> </td>
<TR><TH>Steps<td><p id="current_steps"></p><p id="average_past_seven_steps"></p></td>
<TR><TH>Chess<td><p id="chess_rating"></p><p id="chess_games"></p></td>
<TR><TH>Pomodoros<td>Daily Pomodoro's: <p id="daily_pomodoros"></p>Past 7 Days Pomdoro's: <p id="past_seven_days_pomodoros"></p></td>
<TR><TH>Weight<td id="weight"></td>
<TR><TH>Todoist<td><p id="total_tasks"></p><p id="daily_completed_tasks"></p><p id="past_seven_completed_tasks"></p></td>
<TR><TH>Spotify<td>Top tracks this month: <p id="top_tracks"></p>Top Artists this month:<p id="top_artists"></p></td>
</TABLE>

</body>
</html>
